<aside class="toc sidebar" data-title="{{{or page.attributes.toctitle 'On this page'}}}" data-levels="{{{or page.attributes.toclevels 2}}}">
  <div class="toc-box">
    <div class="toc-tools">
      <h3>Page tools</h3>
      {{> edit-this-page}}
    </div>
    <div class="toc-menu"></div>
  </div>
</aside>
