<!DOCTYPE html>
<html lang="en">
  <head>
{{> head defaultPageTitle='Docs'}}
  </head>
  <body class="landing">
{{> header}}
<div class="body">
{{> landing-nav}}
{{> landing}}
</div>
{{> footer}}
  </body>
</html>
